/*CSS for herbanite.us landing page, last updated by Drew 11/6/2019*/

body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
p {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
p a { 
	color: #252525;
	text-decoration: underline;
}
p a:hover {
	color: #898989;
}
#header {
	margin: 0 auto;
	padding: 4px 0 50px;
	text-align: left;
	width: 960px;
}
#header a.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 500px;
}
#header a.logo img {
	display: block;
	margin: auto;
    position: absolute;
    left: 10px;
    width: 200px;
}
#header ul { /*for an eventual menu - which I ultimately decided to leave out for now, but left CSS so it's not a total redo*/
	margin: 0;
	padding: 56px 0 0;
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}
#header ul li a {
	color: #252525;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	text-transform: uppercase;
}
#header ul li a:hover, #header ul li.selected a {
	color: #0ba39c;
}
#body {
	margin: 0;
	padding: 0 0 30px;
	text-align: center;
}
#body > div { /*body > div = all divs under "body"*/
	margin: 0 auto;
	padding: 0;
	width: 960px;
}
#body div ul {
	margin: 0;
	padding: 24px 10px 0;
	width: 940px;
}
/*featured is the main splash image (slideshow)*/
#body #featured {
	margin: 10px 0 13px;
	padding: 0;
	position: relative;
	width: 100%;
}
/*hide the 3 images, show them using javascript*/
.slideshow {
    display: none;
}

/*next and prev buttons*/
.prev, .next {
    position: absolute;
    top: 47%;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 5px 5px 0;
    padding: 18px;
    transition: 0.8s ease;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 5px 0 5px;
}
.prev {
    left: 0;
    border-radius: 5px 0 5px;
}
.prev:hover, .next:hover {
    background-color: rgba(195, 198, 194, 0.7);
}
#body #featured img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
}
#interest-form{ /*button*/
        background-color: #339933;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        margin: 15px 0 0;
        padding: 26px 27px 22px;
        text-align: center;
        text-decoration: none;
    }
/*stuff below the main splash image*/
#body > ul {
	margin: 0 auto;
	overflow: hidden;
	padding: 24px 0 0;
	width: 960px;
}

#body > ul li {
    display: block;
    float: left;
    margin: 0 10px 20px;
    padding: 12px;
    width: 270px;
    border-style: solid;
    color: #707070;
}

.active, .slideshow-text:hover {
    color: black !important; /*TODO: use of important not ideal*/
}

#body form {
	margin: 0 auto;
	padding: 24px 0 0;
	width: 620px;
}
/*all footer stuff just taken from a different CSS file. Most of this is relevant 
    to social media links, which we do not currently have*/
#footer {
	background: #252525;
	margin: 0;
	padding: 36px 0 42px;
}
#footer div {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 960px;
}
#footer div p {
	color: #fff;
	float: left;
	line-height: 44px;
	margin: 0 0 0 10px;
	padding: 0;
}
#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 256px;
}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
	width: 44px;
}
#footer div ul li a {
	background: url(../images/icons.jpg) no-repeat 0 0;
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 44px;
}
#footer div ul li #twitter {
	background-position: 0 0;
}
#footer div ul li #twitter:hover {
	background-position: -44px 0;
}
#footer div ul li #facebook {
	background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
	background-position: -44px -44px;
}
#footer div ul li #googleplus {
	background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
	background-position: -44px -88px;
}
#footer div ul li #pinterest {
	background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
	background-position: -44px -132px;
}